#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1em;
  right: 1em;
  border: solid 1em transparent;
  width: 4.625em;
  height: 3.25em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  font: 16px/ 1.25 trebuchet ms, sans-serif;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1em -.5em;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}
body {
  display: grid;
  margin: 0;
  height: 100vh;
  background: #000;
}

div {
  grid-area: 1/1;
}

.tri {
  --s: 1;
  display: grid;
  place-self: center;
  transform: rotate(calc(var(--k)*1turn)) translatey(calc(3em + 8px));
}
.tri:nth-child(2n) {
  --s: -1;
}

@keyframes s {
  to {
    scale: 0;
  }
}
@keyframes r {
  to {
    rotate: calc(var(--oa) + var(--s)*1turn/3);
  }
}
.lyr {
  --o: calc(var(--c) - .5*(var(--m) - 1));
  --oa: calc(var(--o)*5deg);
  padding: 3em;
  rotate: var(--oa);
  background: currentcolor;
  color: hsl(calc(var(--c)/var(--m)*360), 100%, 50%);
  clip-path: polygon(50% 0%, 93.30127% 75%, 6.69873% 75%);
  mix-blend-mode: screen;
  animation: s 1s ease-in infinite alternate, r 2s cubic-bezier(calc(.75 + var(--o)*.1), 0, calc(.25 - var(--o)*.1), 1) infinite;
  animation-delay: calc(var(--k)*-2*1s);
}
@supports (background: conic-gradient(red, tan)) {
  .lyr {
    background: conic-gradient(from 150deg at 50% 0, currentcolor 0% 60deg, transparent 0);
  }
}